/* Fonts */

/* @font-face {
    font-family: 'XXXXX';
    src: url('../fonts/XXXXX.woff2') format('woff2'),
         url('../fonts/XXXXX.woff') format('woff');
} */

/* Set-up */

html {
	background-color: #FFF;
}

body {
	font-family: sans-serif;
	font-size: 14px;
	color: #000;
	line-height: 1;
	margin: 0;
    /* -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    user-select: none; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: sans-serif;
	font-size: 24px;
	margin: 0;
	line-height: 1.25;
	font-weight: normal;
}

ul {
	margin: 0;
	padding: 0;
    list-style-type: none;
}

p {
	margin: 0;
	line-height: 1.5;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

a {
	color: #000;
	text-decoration: none;
    transition: color .25s linear;
}

a:hover {
    color: #999;
}

.clear {
	clear: both;
}

.hidden {
	display: none;
}

.field-error {
    color: #F00;
}

.field-error::-webkit-input-placeholder {
   color: #F00;
}

/* Global */